<div class="main-body">
    <app-header></app-header>
    <section id="top">
        <div class="container">
            <div class="row">
              <div class="col">
                <app-main-left></app-main-left>
              </div>
              <div class="col">
                <app-main-right></app-main-right>
              </div>
            </div>
          </div>
    </section>
      
 <section id="bottom">
    <div class="container">
        <div class="row">
          <div class="col">
          <app-bottom-left></app-bottom-left>
          </div>
          <div class="col">
            <app-bottom-right></app-bottom-right>
          </div>
        </div>
      </div>
 </section>

  
  
</div>
