<div class="bottom-left-container">
    <div class="card-container-left">
        <div class="card-container">
            <div class="card">
                <img class="card-image" src="../../../assets/Images/Get Paid Instantly@2x.png" alt="image-get-paid instantly">
                <div class="card-title">Quick cash disbursement</div>
                <div class="card-content">Get terms loans that your business needs within 72 hrs</div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img class="card-image" src="../../../assets/Images/Low interest rate@2x.png" alt="image-get-paid instantly">
                <div class="card-title">Low-interest rate</div>
                <div class="card-content">Achieve your financial goals with an amazing interest rate starting at 13% per annum</div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img class="card-image" src="../../../assets/Images/Secure Payments@2x.png" alt="image-get-paid instantly">
                <div class="card-title">Zero Paperwork</div>
                <div class="card-content">Get started instantly by submitting only your basic details & bank statements</div>
            </div>
        </div>
    </div>
    <div class="card-container-right">
        <div class="card-container">
            <div class="card">
                <img class="card-image" src="../../../assets/Images/freelancer_feature_icon_6@1.5x@2x.png" alt="image-get-paid instantly">
                <div class="card-title">Ace your business finances</div>
                <p class="card-content">Manage banking, accounting & everything in between, on one platform</p>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <img class="card-image" src="../../../assets/Images/Covid@2x.png" alt="image-get-paid instantly">
                <div class="card-title">Loans to fight COVID-19</div>
                <div class="card-content">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</div>
            </div>
        </div>
      
    </div>
  
</div>
