
.left-container{

}
.left-text{
    position: relative;
    top: 219px;

    left: 15px;

   }
.main-left-text {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    width: 350px;
    height: 98px;
    margin: 0;
}

.rectangle-3 {
    background-color: #000000;
    width: 167px;
    height: 7px;
    border-radius: 13px;
    margin-top: -5px;
}

.collect-img {
    width: 465px;
    position: absolute;
    top: 386px;
    left: 111px;
    opacity: 1;
    z-index: 7;
}

.accounting-dots-left {
    width: 328px;
    position: absolute;
    top: 624px;
    left: 329px;
    opacity: 1;
    z-index: 5;
}
